// center block elemet
@mixin push--auto {
    margin: { 
        left: auto;
        right: auto
    }
}

//  when using ::before and ::after
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}        